/* Common style by EJ */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.header {
  background-color: #4b9c60;
  color: white;
  text-align: center;
  padding: 30px 0;
}

.content {
  flex: 1;
  padding: 20px;
  text-align: center;
}

.footer {
  background-color: #f1f1f1;
  text-align: center;
  padding: 15px;
}

/* usable for specific elements by EJ */
.special-title {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}

/* Create game.html, index.html style by EJ */

.bg-image-section {
  background-image: url('../img/pet-background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 100px 20px;
  position: relative;
}

.bg-image-section .overlay {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 60px 20px;
  border-radius: 8px;
}


/* Style available.html by Muhammad */
#pet-details{
  background-color: #4b9c60;
  color: white;
}
.card{
  transition: transform 0.3s ease-in-out;
}
.card:hover{
  transform: scale(1.1);
}
.adopt-btn{
  background-color: black;
  color: white;
  border: none;
}

/* Style available.html by Muhammad */
.form-container {
  background-color: #ffffff;
  padding: 40px 30px;
  border-radius: 16px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
  justify-content: center;
  align-self: center;
}

.form-title {
  text-align: center;
  margin-bottom: 30px;
}

.submit-btn {
  width: 100%;
  padding: 12px;
  background-color: #4b9c60;
  color: white;
  border: none;
}
.submit-btn:hover{
  background-color: black;
}

#successMessage {
  text-align: center;
}

